<dino-color-legend 
    [dataStream]="nodeStream"

    [idField]="fields.nodeIdField"
    [colorField]="fields.nodeColorField"

    [encoding]="colorLegendEncoding"
    [legendType]="'quantitative'"

    [colorRange]="gradient"

    [margin]="'0 0 10px 8px'"> 
</dino-color-legend>

<dino-node-size-legend
    [dataStream]="nodeStream"

    [nodeIdField]="fields.nodeIdField"
    [nodeSizeField]="fields.nodeSizeField"

    [encoding]="'Group #'"

    [nodeSizeRange]="nodeSizeRange"
    
    [margin]="'0 0 10px 8px'">
</dino-node-size-legend>

<dino-edge-size-legend
    [dataStream]="edgeStream"

    [edgeIdField]="fields.edgeIdField"
    [edgeSizeField]="fields.edgeSizeField"

    [encoding]="edgeLegendEncoding"
    
    [edgeSizeRange]="edgeSizeRange"
    
    [margin]="'0 0 10px 8px'">
</dino-edge-size-legend>
