#legendButton
  margin-left: 645px
  margin-top: 40px
  float: left

.legendCard
  width: 470px
  height: 200px
  margin-left: 450px
  display: table

.row
  display: table-row

.cell
  display: table-cell
  padding-left: 30px