#legendButton
  margin-left: 50%
  margin-top: 3.9%

.legend-item-1 
  width: 150px !important

.legend-item-2
  width: 650px !important

.legend-item-label
  text-align: left

.legend-row
  width: 510px

.disciplineLegend
  margin-left: 240px
  // display: table-cell

.legendCard
  width: 500px
  height: 200px
  margin-left: 450px

#disciplineLegendTitle 
  margin-left: 8px
  font-weight: 600
  font-size: 16px

// .nodesLegend
//   display: table-cell