<dino-force-network 
    [height]="height"
    [width]="width"
    [margin]="margin"
    [autoresize]="true" 
    [nodeSizeField]="fields.nodeSizeField"
    [nodeIdField]="fields.nodeIdField"
    [nodeColorField]="fields.nodeColorField" 
    [nodeLabelField]="fields.nodeLabelField"
    [linkIdField]="fields.edgeIdField"
    [linkSourceField]="fields.edgeSourceField" 
    [linkTargetField]="fields.edgeTargetField"
    [linkSizeField]="fields.edgeSizeField"
    [nodeColorRange]="nodeColorRange"
    [nodeSizeRange]="nodeSizeRange"
    [enableTooltip]="enableTooltip"
    [tooltipTextField]="fields.tooltipTextField"
    [nodeTransparencyField]="fields.nodeTransparencyField"
    [linkTransparencyField]="fields.linkTransparencyField"
    [strokeTransparencyField]="fields.strokeTransparencyField"
    [chargeStrength]="visChargeStrength"
    [nodeStream]="nodeStream" 
    [linkStream]="edgeStream">
</dino-force-network>