<dino-force-network #forceNetwork 
    [height]="height" 
    [width]="width" 
    [margin]="margin" 

    [autoresize]="true" 

    [nodeSizeField]="fields.nodeSizeField" 
    [nodeIdField]="fields.nodeIdField" 
    [nodeColorField]="fields.nodeColorField" 
    [nodeLabelField]="fields.nodeLabelField" 

    [linkIdField]="fields.edgeIdField"
    [linkSourceField]="fields.edgeSourceField" 
    [linkTargetField]="fields.edgeTargetField" 
    [linkSizeField]="fields.edgeSizeField" 

    [nodeColorRange]="nodeColorRange" 
    [nodeSizeRange]="nodeSizeRange" 

    [enableTooltip]="enableTooltip" 
    [tooltipTextField]="fields.tooltipTextField"

    [chargeStrength]="visChargeStrength" 

    [nodeStream]="nodeStream" 
    [linkStream]="edgeStream">
</dino-force-network>
