<dino-geomap
  [showCounties]="false"

  [autoresize]="false"
  [width]="width"
  [height]="height"

  [stateDataStream]="stateDataStream"
  [pointDataStream]="pointDataStream"

  [pointIdField]="pointIdField"
  [pointLatLongField]="pointLatLongField"
  [pointTitleField]="pointTitleField"

  [pointSizeField]="pointSizeField"
  [pointColorField]="pointColorField"
  [strokeColorField]="strokeColorField"
  [pointShapeField]="pointShapeField"

  [stateField]="stateField"
  [stateColorField]="stateColorField"

  [stateDefaultColor]="'#ffffff'"
  [stateDefaultStrokeColor]="'#000000'">
</dino-geomap>
